body, h1, h2, h3, p, ul, li, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  list-style: none;
}

body{
  background: #faf6ed;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}

.div-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
  grid-column: 3 /5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #ffbb55;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais h2{
  font-family: "i=IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #ee5544;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}

.animais-lista{
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista{
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar{
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb{
  background: #ffbb55;
  border-left: 4px solid #ffbb55;
  border-right: 4px solid #ffbb55;
}

.animais-lista::-webkit-scrollbar-track{
  background: #faf6ed;
}

.animais-descricao{
  grid-column: 3;
}

.animais-descricao section{
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2/ 4;

}

.faq-lista dt{
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #ee5544;
}

.faq-lista dt::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}

.faq-lista dd{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.mapa{
  grid-column: 2;
}

.dados{
  grid-column: 3;

}

.dados li{
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.dados li::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #ffbb55;
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px){
  .div-container {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy{
    grid-column: 1;
  }

  .grid-section{
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais-lista{
    grid-column: 1;
  }
  .faq-lista, .dados, .mapa{
    grid-column: 1 / 3;
  }

  .grid-section h1{
    font-size: 3rem;
  }

  .menu {
    margin-top: 0px;
  }

  .copy{
    margin-bottom: 0px;
  }
}

.js .js-tabcontent section {
  display: none;
}

.js .js-tabcontent section.ativo {
  display: block !important;
}

.js .js-tabcontent section.ativo.show-right {
  animation: show-right .5s forwards;
}

.js .js-tabcontent section.ativo.show-down {
  animation: show-down .5s forwards;
}

@keyframes show-right{
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes show-down{
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}


.js .js-accordion dd{
  display: none;
}

.js-accordion dt::after{
  content: "тоз";
  margin-left: 10px;
}

.js-accordion dt.ativo::after{
  content: "тое";
  margin-left: 10px;
}

.js-accordion dd.ativo{
  display: block;
  animation: slideDown .5s forwards;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: white;
  padding: 40px;
  border: 10px solid #ffbb55;
  box-shadow: 0 0 0 10px white;
  position: relative;
  min-width: 300px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: #ee5544;
  font-size: 1.2em;
  color: white;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.modal label {
  display: block;
  font-weight: bold;
  margin: 1em 0 .5em 0;
}
.modal input {
  width: 100%;
  padding: .7em .5em;
  box-sizing: border-box;
}

.modal button[type='submit'] {
  display: block;
  background: #ee5544;
  border: none;
  border-radius: 4px;
  padding: .7em .2em;
  font-size: 1em;
  color: white;
  margin-top: 1em;
}

@keyframes slideDown{
  from{
    max-height: 0;
    opacity: 0;
  }
  to{
    opacity: 1;
    max-height: 150px;
  }
}

.ativo .modal {
  animation: modal .3s forwards;
}

.js .js-scroll{
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js .js-scroll.ativo{
  opacity: 1;
  transition: .2s;
  transform: translate3d(0, 0, 0);
}

.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
  box-shadow:  0 0 0 2px #ffbb55, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 120px;
  height: 60px;
  border-radius: 2px;
  text-align: center;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu, 
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: showUp .3s forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.dropdown-menu {
  position: absolute;
  top: 38px;
  background: #ee5544;
  border: 2px solid #333;
  z-index: 200;
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #ee5544;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown-menu a:hover {
  color: white;
}

[data-menu='button'] {
  display: none;
}

@media (max-width: 700px){
  .js [data-menu='button'] {
      display: flex;
      background: black;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      cursor: pointer;
      margin: 10px;
      align-items: center;
      position: relative;
      z-index: 300;
  }

  .js [data-menu='button']::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 12px;
  margin-right: 10px;
  background: white;
  box-shadow: 0 4px white, 0 -4px white;
  }

  .js #menu { 
    display: block;
    position: absolute;
    background: #ffbb55;
    width: 160px;
    z-index: 200;
    padding: 60px 0px 20px 0px;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.js .dropdown-menu {
  position: static;
  border: none;
}
}